<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.642</version>
  <numExecutors>4</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:clydeliu</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:katte</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:zen</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:clydeliu</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:katte</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:zen</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:clydeliu</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:katte</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:zen</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:clydeliu</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:katte</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:zen</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:clydeliu</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:katte</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:zen</permission>
    <permission>hudson.model.Computer.Build:clydeliu</permission>
    <permission>hudson.model.Computer.Build:darenyao</permission>
    <permission>hudson.model.Computer.Build:easonwu</permission>
    <permission>hudson.model.Computer.Build:edgarlee</permission>
    <permission>hudson.model.Computer.Build:jeremyhong</permission>
    <permission>hudson.model.Computer.Build:katte</permission>
    <permission>hudson.model.Computer.Build:paul</permission>
    <permission>hudson.model.Computer.Build:user</permission>
    <permission>hudson.model.Computer.Build:yichengchen</permission>
    <permission>hudson.model.Computer.Build:zen</permission>
    <permission>hudson.model.Computer.Configure:clydeliu</permission>
    <permission>hudson.model.Computer.Configure:katte</permission>
    <permission>hudson.model.Computer.Configure:zen</permission>
    <permission>hudson.model.Computer.Connect:clydeliu</permission>
    <permission>hudson.model.Computer.Connect:katte</permission>
    <permission>hudson.model.Computer.Connect:zen</permission>
    <permission>hudson.model.Computer.Create:clydeliu</permission>
    <permission>hudson.model.Computer.Create:katte</permission>
    <permission>hudson.model.Computer.Create:zen</permission>
    <permission>hudson.model.Computer.Delete:clydeliu</permission>
    <permission>hudson.model.Computer.Delete:katte</permission>
    <permission>hudson.model.Computer.Delete:zen</permission>
    <permission>hudson.model.Computer.Disconnect:clydeliu</permission>
    <permission>hudson.model.Computer.Disconnect:katte</permission>
    <permission>hudson.model.Computer.Disconnect:zen</permission>
    <permission>hudson.model.Hudson.Administer:clydeliu</permission>
    <permission>hudson.model.Hudson.Administer:katte</permission>
    <permission>hudson.model.Hudson.Administer:zen</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:clydeliu</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:katte</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:zen</permission>
    <permission>hudson.model.Hudson.Read:clydeliu</permission>
    <permission>hudson.model.Hudson.Read:darenyao</permission>
    <permission>hudson.model.Hudson.Read:easonwu</permission>
    <permission>hudson.model.Hudson.Read:edgarlee</permission>
    <permission>hudson.model.Hudson.Read:jeremyhong</permission>
    <permission>hudson.model.Hudson.Read:katte</permission>
    <permission>hudson.model.Hudson.Read:paul</permission>
    <permission>hudson.model.Hudson.Read:user</permission>
    <permission>hudson.model.Hudson.Read:yichengchen</permission>
    <permission>hudson.model.Hudson.Read:zen</permission>
    <permission>hudson.model.Hudson.RunScripts:clydeliu</permission>
    <permission>hudson.model.Hudson.RunScripts:katte</permission>
    <permission>hudson.model.Hudson.RunScripts:zen</permission>
    <permission>hudson.model.Hudson.UploadPlugins:clydeliu</permission>
    <permission>hudson.model.Hudson.UploadPlugins:katte</permission>
    <permission>hudson.model.Hudson.UploadPlugins:zen</permission>
    <permission>hudson.model.Item.Build:clydeliu</permission>
    <permission>hudson.model.Item.Build:darenyao</permission>
    <permission>hudson.model.Item.Build:easonwu</permission>
    <permission>hudson.model.Item.Build:edgarlee</permission>
    <permission>hudson.model.Item.Build:jeremyhong</permission>
    <permission>hudson.model.Item.Build:katte</permission>
    <permission>hudson.model.Item.Build:paul</permission>
    <permission>hudson.model.Item.Build:user</permission>
    <permission>hudson.model.Item.Build:yichengchen</permission>
    <permission>hudson.model.Item.Build:zen</permission>
    <permission>hudson.model.Item.Cancel:clydeliu</permission>
    <permission>hudson.model.Item.Cancel:darenyao</permission>
    <permission>hudson.model.Item.Cancel:easonwu</permission>
    <permission>hudson.model.Item.Cancel:edgarlee</permission>
    <permission>hudson.model.Item.Cancel:jeremyhong</permission>
    <permission>hudson.model.Item.Cancel:katte</permission>
    <permission>hudson.model.Item.Cancel:paul</permission>
    <permission>hudson.model.Item.Cancel:user</permission>
    <permission>hudson.model.Item.Cancel:yichengchen</permission>
    <permission>hudson.model.Item.Cancel:zen</permission>
    <permission>hudson.model.Item.Configure:clydeliu</permission>
    <permission>hudson.model.Item.Configure:katte</permission>
    <permission>hudson.model.Item.Configure:zen</permission>
    <permission>hudson.model.Item.Create:clydeliu</permission>
    <permission>hudson.model.Item.Create:darenyao</permission>
    <permission>hudson.model.Item.Create:easonwu</permission>
    <permission>hudson.model.Item.Create:edgarlee</permission>
    <permission>hudson.model.Item.Create:jeremyhong</permission>
    <permission>hudson.model.Item.Create:katte</permission>
    <permission>hudson.model.Item.Create:paul</permission>
    <permission>hudson.model.Item.Create:user</permission>
    <permission>hudson.model.Item.Create:yichengchen</permission>
    <permission>hudson.model.Item.Create:zen</permission>
    <permission>hudson.model.Item.Delete:clydeliu</permission>
    <permission>hudson.model.Item.Delete:katte</permission>
    <permission>hudson.model.Item.Delete:zen</permission>
    <permission>hudson.model.Item.Discover:clydeliu</permission>
    <permission>hudson.model.Item.Discover:darenyao</permission>
    <permission>hudson.model.Item.Discover:easonwu</permission>
    <permission>hudson.model.Item.Discover:edgarlee</permission>
    <permission>hudson.model.Item.Discover:jeremyhong</permission>
    <permission>hudson.model.Item.Discover:katte</permission>
    <permission>hudson.model.Item.Discover:paul</permission>
    <permission>hudson.model.Item.Discover:user</permission>
    <permission>hudson.model.Item.Discover:yichengchen</permission>
    <permission>hudson.model.Item.Discover:zen</permission>
    <permission>hudson.model.Item.Read:clydeliu</permission>
    <permission>hudson.model.Item.Read:darenyao</permission>
    <permission>hudson.model.Item.Read:easonwu</permission>
    <permission>hudson.model.Item.Read:edgarlee</permission>
    <permission>hudson.model.Item.Read:jeremyhong</permission>
    <permission>hudson.model.Item.Read:katte</permission>
    <permission>hudson.model.Item.Read:paul</permission>
    <permission>hudson.model.Item.Read:user</permission>
    <permission>hudson.model.Item.Read:yichengchen</permission>
    <permission>hudson.model.Item.Read:zen</permission>
    <permission>hudson.model.Item.Workspace:clydeliu</permission>
    <permission>hudson.model.Item.Workspace:darenyao</permission>
    <permission>hudson.model.Item.Workspace:easonwu</permission>
    <permission>hudson.model.Item.Workspace:edgarlee</permission>
    <permission>hudson.model.Item.Workspace:jeremyhong</permission>
    <permission>hudson.model.Item.Workspace:katte</permission>
    <permission>hudson.model.Item.Workspace:paul</permission>
    <permission>hudson.model.Item.Workspace:user</permission>
    <permission>hudson.model.Item.Workspace:yichengchen</permission>
    <permission>hudson.model.Item.Workspace:zen</permission>
    <permission>hudson.model.Run.Delete:clydeliu</permission>
    <permission>hudson.model.Run.Delete:katte</permission>
    <permission>hudson.model.Run.Delete:zen</permission>
    <permission>hudson.model.Run.Update:clydeliu</permission>
    <permission>hudson.model.Run.Update:katte</permission>
    <permission>hudson.model.Run.Update:zen</permission>
    <permission>hudson.model.View.Configure:clydeliu</permission>
    <permission>hudson.model.View.Configure:katte</permission>
    <permission>hudson.model.View.Configure:zen</permission>
    <permission>hudson.model.View.Create:clydeliu</permission>
    <permission>hudson.model.View.Create:katte</permission>
    <permission>hudson.model.View.Create:zen</permission>
    <permission>hudson.model.View.Delete:clydeliu</permission>
    <permission>hudson.model.View.Delete:katte</permission>
    <permission>hudson.model.View.Delete:zen</permission>
    <permission>hudson.model.View.Read:clydeliu</permission>
    <permission>hudson.model.View.Read:darenyao</permission>
    <permission>hudson.model.View.Read:easonwu</permission>
    <permission>hudson.model.View.Read:edgarlee</permission>
    <permission>hudson.model.View.Read:jeremyhong</permission>
    <permission>hudson.model.View.Read:katte</permission>
    <permission>hudson.model.View.Read:paul</permission>
    <permission>hudson.model.View.Read:user</permission>
    <permission>hudson.model.View.Read:yichengchen</permission>
    <permission>hudson.model.View.Read:zen</permission>
    <permission>hudson.scm.SCM.Tag:clydeliu</permission>
    <permission>hudson.scm.SCM.Tag:katte</permission>
    <permission>hudson.scm.SCM.Tag:zen</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <description></description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.4.9">
      <owner class="hudson" reference="../../.."/>
      <name>dev_cMT3000</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>libweintek_dev_cMT3000</firstJob>
        <firstJobLink>job/libweintek_dev_cMT3000/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>10</noOfDisplayedBuilds>
      <buildViewTitle>dev_cMT3000</buildViewTitle>
      <consoleOutputLinkStyle>Lightbox</consoleOutputLinkStyle>
      <cssUrl></cssUrl>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>true</showPipelineParameters>
      <showPipelineParametersInHeaders>true</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>true</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.4.9">
      <owner class="hudson" reference="../../.."/>
      <name>dev_Ubuntu</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>libweintek_dev_Ubuntu</firstJob>
        <firstJobLink>job/libweintek_dev_Ubuntu/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>10</noOfDisplayedBuilds>
      <buildViewTitle>dev_Ubuntu</buildViewTitle>
      <consoleOutputLinkStyle>Lightbox</consoleOutputLinkStyle>
      <cssUrl></cssUrl>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>true</showPipelineParameters>
      <showPipelineParametersInHeaders>true</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>true</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.4.9">
      <owner class="hudson" reference="../../.."/>
      <name>stable_cMT-SVR</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>libweintek_stable_cMT-SVR</firstJob>
        <firstJobLink>job/libweintek_stable_cMT-SVR/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>10</noOfDisplayedBuilds>
      <buildViewTitle>stable_cMT-SVR</buildViewTitle>
      <consoleOutputLinkStyle>Lightbox</consoleOutputLinkStyle>
      <cssUrl></cssUrl>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>true</showPipelineParameters>
      <showPipelineParametersInHeaders>true</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>true</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <se.diabol.jenkins.pipeline.DeliveryPipelineView plugin="delivery-pipeline-plugin@0.9.8">
      <owner class="hudson" reference="../../.."/>
      <name>Overview</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <componentSpecs>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>dev_Ubuntu</name>
          <firstJob>libweintek_dev_Ubuntu</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>dev_cMT3000</name>
          <firstJob>libweintek_dev_cMT3000</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>dev_cMT-SVR</name>
          <firstJob>libweintek_dev_cMT-SVR</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>dev_cMT-iv5</name>
          <firstJob>libweintek_dev_cMT-iv5</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>dev_cMT-iv5-3000</name>
          <firstJob>libweintek_dev_cMT-iv5-3000</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>stable_cMT3000</name>
          <firstJob>libweintek_stable_cMT3000</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>stable_cMT-SVR</name>
          <firstJob>libweintek_dev_cMT-SVR</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>dev</name>
          <firstJob>libweintek_dev</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>stable</name>
          <firstJob>libweintek_stable</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
      </componentSpecs>
      <noOfPipelines>0</noOfPipelines>
      <showAggregatedPipeline>true</showAggregatedPipeline>
      <noOfColumns>1</noOfColumns>
      <sorting>none</sorting>
      <showAvatars>true</showAvatars>
      <updateInterval>2</updateInterval>
      <showChanges>true</showChanges>
      <allowManualTriggers>true</allowManualTriggers>
      <showTotalBuildTime>true</showTotalBuildTime>
      <allowRebuild>true</allowRebuild>
      <allowPipelineStart>true</allowPipelineStart>
      <showDescription>true</showDescription>
      <showPromotions>true</showPromotions>
      <showTestResults>true</showTestResults>
      <showStaticAnalysisResults>true</showStaticAnalysisResults>
      <regexpFirstJobs/>
    </se.diabol.jenkins.pipeline.DeliveryPipelineView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Active</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>cMT_dev-electric-meter_cMT3000</string>
        <string>cMT_dev-pdf-debug_cMT3000</string>
        <string>cMT_dev_Ubuntu</string>
        <string>cMT_param</string>
        <string>com_dev</string>
        <string>com_dev_cMT-SVR</string>
        <string>com_dev_cMT3000</string>
        <string>dserver_dev</string>
        <string>dserver_dev_cMT-iv5</string>
        <string>dserver_dev_cMT-iv5-3000</string>
        <string>dserver_dev_cMT-SVR</string>
        <string>dserver_dev_cMT3000</string>
        <string>dserver_dev_Ubuntu</string>
        <string>dserver_stable</string>
        <string>dserver_stable_cMT-iv5</string>
        <string>dserver_stable_cMT-SVR</string>
        <string>dserver_stable_cMT3000</string>
        <string>easy-access-client_stable</string>
        <string>easy-access-client_stable_cMT-SVR</string>
        <string>easy-access-client_stable_cMT3000</string>
        <string>gui-v5_fix-Calibri-font-vertical-offset</string>
        <string>gui-v5_release-5-01-03</string>
        <string>gui_dev</string>
        <string>gui_dev_cMT-iv5</string>
        <string>gui_dev_cMT-iv5-3000</string>
        <string>gui_dev_cMT3000</string>
        <string>gui_dev_Ubuntu</string>
        <string>gui_stable</string>
        <string>gui_stable_cMT-iv5</string>
        <string>gui_stable_cMT3000</string>
        <string>jenkins-test</string>
        <string>libQt5Charts</string>
        <string>libweintek_dev</string>
        <string>libweintek_dev_cMT-iv5</string>
        <string>libweintek_dev_cMT-iv5-3000</string>
        <string>libweintek_dev_cMT-SVR</string>
        <string>libweintek_dev_cMT3000</string>
        <string>libweintek_dev_Ubuntu</string>
        <string>libweintek_stable</string>
        <string>libweintek_stable_cMT-iv5</string>
        <string>libweintek_stable_cMT-SVR</string>
        <string>libweintek_stable_cMT3000</string>
        <string>viewer_dev</string>
        <string>viewer_dev_cMT-iv5</string>
        <string>viewer_dev_cMT-iv5-3000</string>
        <string>viewer_dev_Ubuntu</string>
        <string>viewer_stable_cMT-iv5</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
      <statusFilter>true</statusFilter>
    </listView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.4.9">
      <owner class="hudson" reference="../../.."/>
      <name>dev_cMT-iv5</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>libweintek_dev_cMT-iv5</firstJob>
        <firstJobLink>job/libweintek_dev_cMT-iv5/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>10</noOfDisplayedBuilds>
      <buildViewTitle></buildViewTitle>
      <consoleOutputLinkStyle>Lightbox</consoleOutputLinkStyle>
      <cssUrl></cssUrl>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>true</showPipelineParameters>
      <showPipelineParametersInHeaders>false</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>true</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.4.9">
      <owner class="hudson" reference="../../.."/>
      <name>dev_cMT-iv5-3000</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>libweintek_dev_cMT-iv5-3000</firstJob>
        <firstJobLink>job/libweintek_dev_cMT-iv5-3000/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>10</noOfDisplayedBuilds>
      <buildViewTitle></buildViewTitle>
      <consoleOutputLinkStyle>Lightbox</consoleOutputLinkStyle>
      <cssUrl></cssUrl>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>true</showPipelineParameters>
      <showPipelineParametersInHeaders>true</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>true</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.4.9">
      <owner class="hudson" reference="../../.."/>
      <name>stable_cMT-iv5</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>libweintek_stable_cMT-iv5</firstJob>
        <firstJobLink>job/libweintek_stable_cMT-iv5/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>10</noOfDisplayedBuilds>
      <buildViewTitle></buildViewTitle>
      <consoleOutputLinkStyle>Lightbox</consoleOutputLinkStyle>
      <cssUrl></cssUrl>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>true</showPipelineParameters>
      <showPipelineParametersInHeaders>true</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>true</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
  </views>
  <primaryView>Active</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>