<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.642</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>list_gui</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>gui-v5_fix-Calibri-font-vertical-offset</string>
        <string>gui-v5_release-5-01-03</string>
        <string>gui_dev-operation-log_cMT3000</string>
        <string>gui_dev_cMT-iv5</string>
        <string>gui_dev_cMT3000</string>
        <string>gui_dev_Ubuntu</string>
        <string>libweintek_stable_cMT3000</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>gui*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>list_dserver</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
        <string>dserver_dev-operation-log_cMT3000</string>
        <string>dserver_dev_cMT-iv5</string>
        <string>dserver_dev_cMT-SVR</string>
        <string>dserver_dev_cMT3000</string>
        <string>dserver_dev_Ubuntu</string>
        <string>dserver_stable_cMT-SVR</string>
        <string>dserver_stable_cMT3000</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>dserver*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>list_libweintek</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>jenkins-test</string>
        <string>libweintek_dev-operation-log_cMT3000</string>
        <string>libweintek_dev_cMT-iv5</string>
        <string>libweintek_dev_cMT-SVR</string>
        <string>libweintek_dev_cMT3000</string>
        <string>libweintek_dev_Ubuntu</string>
        <string>libweintek_stable_cMT-SVR</string>
        <string>libweintek_stable_cMT3000</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>libweintek*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.4.9">
      <owner class="hudson" reference="../../.."/>
      <name>pipeline_dev_cMT3000</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>libweintek_dev_cMT3000</firstJob>
        <firstJobLink>job/libweintek_dev_cMT3000/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>10</noOfDisplayedBuilds>
      <buildViewTitle>dev_cMT3000</buildViewTitle>
      <consoleOutputLinkStyle>Lightbox</consoleOutputLinkStyle>
      <cssUrl></cssUrl>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>true</showPipelineParameters>
      <showPipelineParametersInHeaders>true</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>true</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.4.9">
      <owner class="hudson" reference="../../.."/>
      <name>pipeline_stable_cMT3000</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>libweintek_stable_cMT3000</firstJob>
        <firstJobLink>job/libweintek_stable_cMT3000/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>10</noOfDisplayedBuilds>
      <buildViewTitle>stable_cMT3000</buildViewTitle>
      <consoleOutputLinkStyle>Lightbox</consoleOutputLinkStyle>
      <cssUrl></cssUrl>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>false</alwaysAllowManualTrigger>
      <showPipelineParameters>false</showPipelineParameters>
      <showPipelineParametersInHeaders>false</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>false</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.4.9">
      <owner class="hudson" reference="../../.."/>
      <name>pipeline_dev_cMT-SVR</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>libweintek_dev_cMT-SVR</firstJob>
        <firstJobLink>job/libweintek_dev_cMT-SVR/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>10</noOfDisplayedBuilds>
      <buildViewTitle>dev_cMT-SVR</buildViewTitle>
      <consoleOutputLinkStyle>Lightbox</consoleOutputLinkStyle>
      <cssUrl></cssUrl>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>false</alwaysAllowManualTrigger>
      <showPipelineParameters>false</showPipelineParameters>
      <showPipelineParametersInHeaders>false</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>false</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.4.9">
      <owner class="hudson" reference="../../.."/>
      <name>pipeline_dev_Ubuntu</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>libweintek_dev_Ubuntu</firstJob>
        <firstJobLink>job/libweintek_dev_Ubuntu/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>10</noOfDisplayedBuilds>
      <buildViewTitle>dev_Ubuntu</buildViewTitle>
      <consoleOutputLinkStyle>Lightbox</consoleOutputLinkStyle>
      <cssUrl></cssUrl>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>false</alwaysAllowManualTrigger>
      <showPipelineParameters>false</showPipelineParameters>
      <showPipelineParametersInHeaders>false</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>false</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.4.9">
      <owner class="hudson" reference="../../.."/>
      <name>pipeline_stable_cMT-SVR</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>dserver_dev-operation-log_cMT3000</firstJob>
        <firstJobLink>job/dserver_dev-operation-log_cMT3000/</firstJobLink>
      </gridBuilder>
      <noOfDisplayedBuilds>10</noOfDisplayedBuilds>
      <buildViewTitle>stable_cMT-SVR</buildViewTitle>
      <consoleOutputLinkStyle>Lightbox</consoleOutputLinkStyle>
      <cssUrl></cssUrl>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>false</alwaysAllowManualTrigger>
      <showPipelineParameters>false</showPipelineParameters>
      <showPipelineParametersInHeaders>false</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>false</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <se.diabol.jenkins.pipeline.DeliveryPipelineView plugin="delivery-pipeline-plugin@0.9.8">
      <owner class="hudson" reference="../../.."/>
      <name>Overview</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <componentSpecs>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>dev_cMT3000</name>
          <firstJob>libweintek_dev_cMT3000</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>dev_cMT-SVR</name>
          <firstJob>libweintek_dev_cMT-SVR</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>dev_cMT-iv5</name>
          <firstJob>libweintek_dev_cMT-iv5</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>dev_Ubuntu</name>
          <firstJob>libweintek_dev_Ubuntu</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>stable_cMT3000</name>
          <firstJob>libweintek_stable_cMT3000</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>stable_cMT-SVR</name>
          <firstJob>libweintek_stable_cMT-SVR</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
        <se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
          <name>dev-operation-log_cMT3000</name>
          <firstJob>libweintek_dev-operation-log_cMT3000</firstJob>
          <lastJob></lastJob>
        </se.diabol.jenkins.pipeline.DeliveryPipelineView_-ComponentSpec>
      </componentSpecs>
      <noOfPipelines>0</noOfPipelines>
      <showAggregatedPipeline>true</showAggregatedPipeline>
      <noOfColumns>1</noOfColumns>
      <sorting>none</sorting>
      <showAvatars>true</showAvatars>
      <updateInterval>2</updateInterval>
      <showChanges>true</showChanges>
      <allowManualTriggers>true</allowManualTriggers>
      <showTotalBuildTime>true</showTotalBuildTime>
      <allowRebuild>true</allowRebuild>
      <allowPipelineStart>true</allowPipelineStart>
      <showDescription>true</showDescription>
      <showPromotions>true</showPromotions>
      <showTestResults>true</showTestResults>
      <showStaticAnalysisResults>true</showStaticAnalysisResults>
      <regexpFirstJobs/>
    </se.diabol.jenkins.pipeline.DeliveryPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.4.9">
      <owner class="hudson" reference="../../.."/>
      <name>pipeline_operation-log_cMT3000</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <gridBuilder class="au.com.centrumsystems.hudson.plugin.buildpipeline.DownstreamProjectGridBuilder">
        <firstJob>detonator_operation-log_cMT3000</firstJob>
      </gridBuilder>
      <noOfDisplayedBuilds>1</noOfDisplayedBuilds>
      <buildViewTitle></buildViewTitle>
      <consoleOutputLinkStyle>Lightbox</consoleOutputLinkStyle>
      <cssUrl></cssUrl>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>false</alwaysAllowManualTrigger>
      <showPipelineParameters>false</showPipelineParameters>
      <showPipelineParametersInHeaders>false</showPipelineParametersInHeaders>
      <startsWithParameters>false</startsWithParameters>
      <refreshFrequency>3</refreshFrequency>
      <showPipelineDefinitionHeader>false</showPipelineDefinitionHeader>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>