<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.6">
  <actions/>
  <description>build easy_access_client, easy_access_activator, weintek-p2p</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>90</daysToKeep>
        <numToKeep>300</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition plugin="matrix-combinations-parameter@1.0.9">
          <name>PLATFORMS_TO_BUILD</name>
          <description></description>
        </hudson.plugins.matrix__configuration__parameter.MatrixCombinationsParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TRIGGER_PARAM_EAC_VERSION</name>
          <description></description>
          <defaultValue>2.3.0</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="org.jenkinsci.plugins.multiplescms.MultiSCM" plugin="multiple-scms@0.5">
    <scms>
      <hudson.plugins.git.GitSCM plugin="git@2.4.2">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <url>gitolite@192.168.1.220:rma.git</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>*/stable</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
            <relativeTargetDir>rma</relativeTargetDir>
          </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        </extensions>
      </hudson.plugins.git.GitSCM>
      <hudson.plugins.git.GitSCM plugin="git@2.4.2">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <url>gitolite@192.168.1.220:campagnol.git</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>*/stable</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
            <relativeTargetDir>weintek-p2p</relativeTargetDir>
          </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        </extensions>
      </hudson.plugins.git.GitSCM>
    </scms>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <jenkins.triggers.ReverseBuildTrigger>
      <spec></spec>
      <upstreamProjects>libweintek_stable</upstreamProjects>
      <threshold>
        <name>UNSTABLE</name>
        <ordinal>1</ordinal>
        <color>YELLOW</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </jenkins.triggers.ReverseBuildTrigger>
    <hudson.triggers.SCMTrigger>
      <spec>H/5 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>MATRIX_AXIS_PLATFORM</name>
      <values>
        <string>cMT3000</string>
        <string>cMT-SVR</string>
      </values>
    </hudson.matrix.TextAxis>
  </axes>
  <builders>
    <org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <condition class="org.jenkins_ci.plugins.run_condition.core.TimeCondition" plugin="run-condition@1.0">
        <earliestHours>0</earliestHours>
        <earliestMinutes>0</earliestMinutes>
        <latestHours>8</latestHours>
        <latestMinutes>0</latestMinutes>
        <useBuildTime>true</useBuildTime>
      </condition>
      <buildStep class="hudson.tasks.Shell">
        <command>rm -rf ${WORKSPACE}/rma/jenkins
rm -rf ${WORKSPACE}/weintek-p2p/jenkins</command>
      </buildStep>
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
    </org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash



export BUILD_TYPE=Release
export LIBWEINTEK_PATH=${JENKINS_HOME}/jobs/libweintek_stable/workspace
export INSTALL_PREFIX=/home/ci/work/${MATRIX_AXIS_PLATFORM}/build-stable-branch
export WEINTEK_P2P_PATH=${WORKSPACE}/weintek-p2p


cd ${WEINTEK_P2P_PATH}
cp config_linux.h config.h
mkdir -p jenkins
cd jenkins


if [ &quot;${MATRIX_AXIS_PLATFORM}&quot; = &quot;cMT3000&quot; ]; then
    export ENV_SOURCE=/home/ci/work/${PLATFORM_BUILD_FOLDER}/target/environment-setup-armv7ahf-vfp-neon-weintek-linux-gnueabi
    ${WEINTEK_P2P_PATH}/build/${PLATFORM_BUILD_FOLDER}/cmake_weintek_p2p.sh ${WEINTEK_P2P_PATH} ${LIBWEINTEK_PATH} ${INSTALL_PREFIX} ${ENV_SOURCE} RelWithDebInfo
elif [ &quot;${MATRIX_AXIS_PLATFORM}&quot; = &quot;cMT-SVR&quot; ]; then
    ${WEINTEK_P2P_PATH}/build/${PLATFORM_BUILD_FOLDER}/cmake_weintek_p2p.sh ${WEINTEK_P2P_PATH} ${LIBWEINTEK_PATH} ${INSTALL_PREFIX} RelWithDebInfo
fi

make VERBOSE=0 install/strip

cd ${INSTALL_PREFIX}/bin

if [ &quot;${MATRIX_AXIS_PLATFORM}&quot; = &quot;cMT-SVR&quot; ]; then
    upx weintek-p2p
fi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

export BUILD_TYPE=Release
export LIBWEINTEK_PATH=${JENKINS_HOME}/jobs/libweintek_stable/workspace
export LIBWEINTEK_ROOT=${LIBWEINTEK_PATH}
export INSTALL_PREFIX=/home/ci/work/${MATRIX_AXIS_PLATFORM}/build-stable-branch

case $MATRIX_AXIS_PLATFORM in
    &quot;cMT3000&quot;)  export MODEL_NAME=E60  ;;
    &quot;cMT-SVR&quot;)  export MODEL_NAME=E30  ;;
esac

case $MATRIX_AXIS_PLATFORM in
    &quot;cMT3000&quot;)  export ENCRYPT_EXTENSION_NAME=c30  ;;
    &quot;cMT-SVR&quot;)  export ENCRYPT_EXTENSION_NAME=e30  ;;
esac

cd ${WORKSPACE}/rma
mkdir -p jenkins
cd jenkins

touch ${WORKSPACE}/rma/AuthClient/easy_access_client_manager.bin.cpp

if [ &quot;${MATRIX_AXIS_PLATFORM}&quot; = &quot;cMT3000&quot; ]; then
    export BREAKPAD_INCLUDE_DIR=/home/ci/work/cMT3000/target/sysroots/armv7ahf-vfp-neon-weintek-linux-gnueabi/usr/include/breakpad
    source /home/ci/work/cMT3000/target/environment-setup-armv7ahf-vfp-neon-weintek-linux-gnueabi
    cmake -DCMAKE_BUILD_TYPE=${BUILD_TYPE} \
          -DMODEL=${MODEL_NAME} \
          -DGOOGLE_BREAKPAD_DIR=/home/ci/work/${MATRIX_AXIS_PLATFORM}/google-breakpad \
          -DCMAKE_INSTALL_PREFIX=${INSTALL_PREFIX} \
          ..
elif [ &quot;${MATRIX_AXIS_PLATFORM}&quot; = &quot;cMT-SVR&quot; ]; then
    cmake -DCMAKE_BUILD_TYPE=${BUILD_TYPE} \
          -DMODEL=${MODEL_NAME} \
          -DGOOGLE_BREAKPAD_DIR=/home/ci/work/${MATRIX_AXIS_PLATFORM}/google-breakpad \
          -DCMAKE_INSTALL_PREFIX=${INSTALL_PREFIX} \
          -DCMAKE_TOOLCHAIN_FILE=${LIBWEINTEK_PATH}/build/cMT-SVR/Toolchain-arm-fsl-linux-gnueabi.cmake \
          ..
fi

cd AuthClient
rm -f easy_access_client_manager
make VERBOSE=1 easy_access_client_manager
strip easy_access_client_manager
if [ &quot;${MATRIX_AXIS_PLATFORM}&quot; = &quot;cMT-SVR&quot; ]; then
   upx easy_access_client_manager
fi   
bin2cpp easy_access_client_manager
cp easy_access_client_manager.bin.cpp  ${WORKSPACE}/rma/AuthClient
make VERBOSE=1 install/strip
# make easy_access_client
# strip easy_access_client
# upx easy_access_client
# cp easy_access_client ${INSTALL_PREFIX}/bin
cd ../RemoteAccessActivator
make VERBOSE=1 easy_access_activator
strip easy_access_activator
cp easy_access_activator ${INSTALL_PREFIX}/bin


cd ${INSTALL_PREFIX}/bin
if [ &quot;${MATRIX_AXIS_PLATFORM}&quot; = &quot;cMT-SVR&quot; ]; then
    upx easy_access_client
fi    
/home/ci/work/crypto e easy_access_client easy_access_client.${ENCRYPT_EXTENSION_NAME}.${TRIGGER_PARAM_EAC_VERSION}
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd ${WORKSPACE}
export INSTALL_PREFIX=/home/ci/work/${MATRIX_AXIS_PLATFORM}/build-stable-branch
rm -rf artifacts
mkdir artifacts
cp ${INSTALL_PREFIX}/bin/easy_access_client* artifacts
cp ${INSTALL_PREFIX}/bin/easy_access_activator artifacts
cp ${INSTALL_PREFIX}/bin/weintek-p2p artifacts</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>artifacts/*</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Mailer plugin="mailer@1.16">
      <recipients>zen@weintek.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
  </executionStrategy>
</matrix-project>