<?xml version='1.0' encoding='UTF-8'?>
<matrix-project plugin="matrix-project@1.6">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>TRIGGER_PARAM_UPDATE_SOURCE</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.TextAxis>
      <name>MATRIX_AXIS_QT_CHARTS_VERSION</name>
      <values>
        <string>2.0</string>
        <string>2.1</string>
      </values>
    </hudson.matrix.TextAxis>
    <hudson.matrix.TextAxis>
      <name>MATRIX_AXIS_PLATFORM</name>
      <values>
        <string>cMT3000</string>
        <string>cMT-SVR</string>
        <string>cMT-iv5</string>
        <string>cMT-iv5-3000</string>
        <string>android-arm</string>
        <string>android-x86</string>
      </values>
    </hudson.matrix.TextAxis>
    <org.jenkinsci.plugins.elasticaxisplugin.ElasticAxis plugin="elastic-axis@1.2">
      <name>MATRIX_AXIS_NODE</name>
      <values>
        <string>master</string>
      </values>
      <label>linux</label>
      <ignoreOffline>false</ignoreOffline>
    </org.jenkinsci.plugins.elasticaxisplugin.ElasticAxis>
  </axes>
  <combinationFilter>(MATRIX_AXIS_QT_CHARTS_VERSION == &quot;2.1&quot; &amp;&amp; MATRIX_AXIS_PLATFORM == &quot;cMT3000&quot;)</combinationFilter>
  <builders>
    <org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder plugin="conditional-buildstep@1.3.3">
      <condition class="org.jenkins_ci.plugins.run_condition.core.BooleanCondition" plugin="run-condition@1.0">
        <token>${TRIGGER_PARAM_UPDATE_SOURCE}</token>
      </condition>
      <buildStep class="hudson.tasks.Shell">
        <command>#!/bin/bash

export QT_CHARTS_PATH=/home/clydeliu/projects/3rdParty/QtCharts/${MATRIX_AXIS_QT_CHARTS_VERSION}

case $MATRIX_AXIS_PLATFORM in
    &quot;cMT3000&quot;)       export CROSS_COMPILER_TOOLCHAIN=/home/ci/work/cMT3000/target/environment-setup-armv7ahf-vfp-neon-weintek-linux-gnueabi  ;;
    &quot;cMT-iv5&quot;)       export CROSS_COMPILER_TOOLCHAIN=/home/ci/work/cMT-iv5/target/environment-setup-armv7ahf-vfp-neon-weintek-linux-gnueabi  ;;
    &quot;cMT-iv5-3000&quot;)  export CROSS_COMPILER_TOOLCHAIN=/home/ci/work/cMT3000/target/environment-setup-armv7ahf-vfp-neon-weintek-linux-gnueabi  ;;
esac

rm -rf QtCharts
mkdir QtCharts

cp -r ${QT_CHARTS_PATH} QtCharts

</command>
      </buildStep>
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
    </org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

case $MATRIX_AXIS_PLATFORM in
    &quot;android-arm&quot;)   export PATH=/opt/Qt5.3.2/5.3/android_armv7/bin:${PATH}  ;;
    &quot;android-x86&quot;)   export PATH=/opt/Qt5.3.2/5.3/android_x86/bin:${PATH}    ;;
    &quot;Ubuntu&quot;)        export PATH=/opt/Qt5.4.2/5.4/gcc_64/bin:${PATH}         ;;
esac

rm -rf QtCharts/${MATRIX_AXIS_QT_CHARTS_VERSION}/Src/lib/*

cd QtCharts/${MATRIX_AXIS_QT_CHARTS_VERSION}/Src/src/charts

if test -n &quot;${CROSS_COMPILER_TOOLCHAIN}&quot;; then
    source ${CROSS_COMPILER_TOOLCHAIN}
fi

qmake charts.pro
make</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
  </executionStrategy>
</matrix-project>