<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.scm.SCM.Tag:jim</permission>
      <permission>hudson.scm.SCM.Tag:carey</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:jim</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:carey</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:jim</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:carey</permission>
      <permission>hudson.model.Item.Read:jim</permission>
      <permission>hudson.model.Item.Read:carey</permission>
      <permission>hudson.model.Item.Configure:jim</permission>
      <permission>hudson.model.Item.Configure:carey</permission>
      <permission>hudson.model.Item.Workspace:jim</permission>
      <permission>hudson.model.Item.Workspace:carey</permission>
      <permission>hudson.model.Run.Delete:jim</permission>
      <permission>hudson.model.Run.Delete:carey</permission>
      <permission>hudson.model.Item.Discover:jim</permission>
      <permission>hudson.model.Item.Discover:carey</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:jim</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:carey</permission>
      <permission>hudson.model.Item.Build:jim</permission>
      <permission>hudson.model.Item.Build:carey</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:jim</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:carey</permission>
      <permission>hudson.model.Item.Cancel:jim</permission>
      <permission>hudson.model.Item.Cancel:carey</permission>
      <permission>hudson.model.Item.Delete:jim</permission>
      <permission>hudson.model.Item.Delete:carey</permission>
      <permission>hudson.model.Run.Update:jim</permission>
      <permission>hudson.model.Run.Update:carey</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:jim</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:carey</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>gitolite@192.168.1.220:driver.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H/5 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Do static analysis by cppcheck
echo &quot;================================ cppcheck ================================ cppcheck ================================ cppcheck ================================&quot;

rm -rf cppcheck
mkdir cppcheck
cd ${WORKSPACE}/cppcheck

cppcheck --enable=all --inconclusive --suppress=syntaxError --xml --xml-version=2 \
         &apos;${WORKSPACE}/*/cppcheck/*.cpp&apos; \
         &apos;${WORKSPACE}/*/cppcheck/*.h&apos; \
         2&gt; cppcheck-result.xml</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.cppcheck.CppcheckPublisher plugin="cppcheck@1.21">
      <cppcheckConfig>
        <pattern>cppcheck/cppcheck-result.xml</pattern>
        <ignoreBlankFiles>false</ignoreBlankFiles>
        <allowNoReport>false</allowNoReport>
        <configSeverityEvaluation>
          <threshold></threshold>
          <newThreshold></newThreshold>
          <failureThreshold></failureThreshold>
          <newFailureThreshold></newFailureThreshold>
          <healthy></healthy>
          <unHealthy></unHealthy>
          <severityError>true</severityError>
          <severityWarning>true</severityWarning>
          <severityStyle>true</severityStyle>
          <severityPerformance>true</severityPerformance>
          <severityInformation>true</severityInformation>
          <severityNoCategory>true</severityNoCategory>
          <severityPortability>true</severityPortability>
        </configSeverityEvaluation>
        <configGraph>
          <xSize>500</xSize>
          <ySize>200</ySize>
          <numBuildsInGraph>0</numBuildsInGraph>
          <displayAllErrors>true</displayAllErrors>
          <displayErrorSeverity>true</displayErrorSeverity>
          <displayWarningSeverity>true</displayWarningSeverity>
          <displayStyleSeverity>true</displayStyleSeverity>
          <displayPerformanceSeverity>true</displayPerformanceSeverity>
          <displayInformationSeverity>true</displayInformationSeverity>
          <displayNoCategorySeverity>true</displayNoCategorySeverity>
          <displayPortabilitySeverity>true</displayPortabilitySeverity>
        </configGraph>
      </cppcheckConfig>
    </org.jenkinsci.plugins.cppcheck.CppcheckPublisher>
  </publishers>
  <buildWrappers/>
</project>