<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>GUI for eMT/iE/XE Series</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Read:darenyao</permission>
      <permission>hudson.model.Item.Discover:darenyao</permission>
      <permission>hudson.model.Item.Build:darenyao</permission>
      <permission>hudson.model.Item.Cancel:darenyao</permission>
      <permission>hudson.model.Item.Workspace:darenyao</permission>
      <permission>hudson.model.Item.Delete:darenyao</permission>
      <permission>hudson.model.Item.Configure:darenyao</permission>
      <permission>hudson.model.Run.Update:darenyao</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>365</daysToKeep>
        <numToKeep>9</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>gitolite@192.168.1.220:gui_v5.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/fix_Calibri_font_vertical_offset</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>TOOLCHAIN=/opt/freescale/usr/local/gcc-4.4.4-glibc-2.11.1-multilib-1.0/arm-fsl-linux-gnueabi/bin
TARGET_DIR=/home/ci/work/eMT_iE_XE
CROSS_ENV=${TARGET_DIR}/target/rootfs

export CROSS_ENV=${CROSS_ENV}
export CROSS_PREFIX=arm-none-linux-gnueabi-
export PATH=${TARGET_DIR}/target/tools:${TOOLCHAIN}:$PATH
export PKG_CONFIG_PATH=${CROSS_ENV}/usr/lib/pkgconfig:${CROSS_ENV}/usr/local/lib/pkgconfig:$PKG_CONFIG_PATH
export LD_LIBRARY_PATH=${CROSS_ENV}/usr/lib:${CROSS_ENV}/lib:$LD_LIBRARY_PATH

export BOOST_1_47_0_DIR=${TARGET_DIR}/boost_1_47_0
export SQLITE_3_7_8_DIR=${TARGET_DIR}/sqlite-3.7.8
export GUI_V5_BASE_DIR=${WORKSPACE}

cd ${GUI_V5_BASE_DIR}
#make clean
make

cp -f ${GUI_V5_BASE_DIR}/gui/component/gui.e30 ${TARGET_DIR}/bin
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>